*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.back-vid{
    z-index: -2;
    width: 100%;
}

.title{
    position: absolute;
    top: 40%;
    margin: 0 5rem;
    color: white;
}

.container-vid{
    position: relative;
}

.container-vid::before{
    content: '';
    background: rgba(1,1,1,.6);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.container-btn{
    position: absolute;
    top: 0;
}

.control-btn{
    position: relative;
    border: 2px solid #55c1ff;
    border-radius: 90em;
    font-size: 1rem;
    padding: .5em;    
    background: white;
    
}

.play-label{
    margin-right: 1.15em;
}

.switch{
    border-radius: 90em;
    height: 100%;
    width: 55%;
    background: #55c1ff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: left .3s ease-out;
}

.slide .switch{
    left: 45%;
}

.pre-loader-gif{
    width: 60%;
}

.pre-loader{
    width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    background: #1a3168;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 200;
}
